body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
}

h2{
    text-align: right;
    background-color:darkgray;
}

.wrapper{
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
}

header{
    padding: 0 15px;
    text-align: center;
    font-size: 20px;
}

.columns{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column{
    flex: 1;
    border: 1px solid #0000;
    margin: 2px;
    padding: 10px;
    background: cadetblue;
    transition: 0.3s;
}

.column:first-child{
    margin-left: 0;
}

@media  screen and (max-width :980px){
    .columns .column{
        margin-bottom:  5px;
        flex-basis:33.33% ;
    }
    .columns .column:last-child{
        flex-basis:100%;
        margin: 0;
    }
    .columns .column:nth-child(2){
        margin-right: 0;
    }
}

@media screen and (max-width:680px) {
    .columns .column{
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
    
}


