body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

h2{
    text-align: right;
    background-color:darkgray;
}

.wrapper{
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
}

header{
    padding: 0 15px;
    text-align: center;
    font-size: 20px;
}

.columns{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column{
    flex: 1;
    border: 1px solid #0000;
    margin: 2px;
    padding: 10px;
    background: cadetblue;
    transition: 0.3s;
}

.column:first-child{
    margin-left: 0;
}





/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
  }
  
  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }